dashboard/flows.json
[{"id":"c51c85e7.6bf678","type":"tab","label":"FRI VIN Project","disabled":false,"info":""},{"id":"62b11dc8.8ab67c","type":"serial in","z":"c51c85e7.6bf678","name":"","serial":"6ae7791e.685c68","x":110,"y":260,"wires":[["ee52df4c.7699e8","8781f170.97442","bbe0a064.d380a","ed52999.aa6e4e8"]]},{"id":"f4daddde.562798","type":"ui_text","z":"c51c85e7.6bf678","group":"5828c75c.fd3a58","order":2,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","className":"","x":660,"y":240,"wires":[]},{"id":"5497b889.0a55f","type":"ui_text","z":"c51c85e7.6bf678","group":"5828c75c.fd3a58","order":3,"width":0,"height":0,"name":"","label":"Altitude","format":"{{msg.payload}}","layout":"row-spread","className":"","x":660,"y":320,"wires":[]},{"id":"ee52df4c.7699e8","type":"function","z":"c51c85e7.6bf678","name":"Storage - temp","func":"if (msg.payload[0] == 'T') {\n    node.warn(msg.payload.split(\" \")[1]);\n    msg.payload = msg.payload.split(\" \")[1];\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["1c314ae6.29f7b5"]]},{"id":"8781f170.97442","type":"function","z":"c51c85e7.6bf678","name":"Storage - press","func":"if (msg.payload[0] == 'P') {\n    node.warn(msg.payload.split(\" \")[1]);\n    msg.payload = msg.payload.split(\" \")[1] + \"hPa\";\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["f4daddde.562798"]]},{"id":"bbe0a064.d380a","type":"function","z":"c51c85e7.6bf678","name":"Storage - alt","func":"if (msg.payload[0] == 'A') {\n    msg.payload = msg.payload.split(\" \")[1] + \"m\";\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["5497b889.0a55f"]]},{"id":"ed52999.aa6e4e8","type":"function","z":"c51c85e7.6bf678","name":"Storage - hum","func":"if (msg.payload[0] == 'H') {\n    node.warn(msg.payload.split(\" \")[1]);\n    msg.payload = msg.payload.split(\" \")[1];\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["f8ab429e.573ac"]]},{"id":"1c314ae6.29f7b5","type":"ui_gauge","z":"c51c85e7.6bf678","name":"","group":"5828c75c.fd3a58","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"*C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":740,"y":180,"wires":[]},{"id":"f8ab429e.573ac","type":"ui_gauge","z":"c51c85e7.6bf678","name":"","group":"5828c75c.fd3a58","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":480,"wires":[]},{"id":"6ae7791e.685c68","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5828c75c.fd3a58","type":"ui_group","z":"","name":"Default","tab":"e4459eb7.16062","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4459eb7.16062","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]